
html, body {
    margin: 0;
    padding: 0;
    background-color: #F2575E;
    color: #4A484A;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

main {
    width: 80%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: #F4F2F4;
}

section {
    padding: 2%;
    margin: 2%;
}

form {
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mainButtonStyle {
    background-color: #005AB4;
    color: #ffffff;
    font-weight: bold;
    border-style: solid;
    margin: 2%;
    border-radius: 2px;
    border-color: black;
    padding: 2%;
}

.mainButtonStyle:hover {
    text-decoration: underline;
}

input[type=number] {
    padding: 2%;
    margin: 2%;
}

#btnNext {
    float: right;
    padding: 2%;
    color: white;
    font-weight: bold;
    background-color: #0066A6;
    border-style: solid;
    border-color: black;
}

#btnNext:hover {
    text-decoration: underline;
}

#btnCalculate {
    padding: 2%;
    margin: 2%;
    border-color: black;
    border-style: solid;
    background-color: #00A3AF;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
}

#btnCalculate:hover {
    text-decoration: underline;
}

.bmiRange {
    font-size: 2em;
}