
.measurementButton {
    padding: 2%;
    background-color: #5f5ffa;
    color: #ffffff;
    font-weight: bold;
    border-style: none;
    margin: 2%;
    border-radius: 2px;
}

.measurementButton:hover {
    text-decoration: underline;
}